{% extends '_base.html' %}

{% block content %}
<section class="content-wrapper">
    <div class="article-container">
        <h2>Náš pokrok do 9.3.</h2>
        <div class="article-content">
            <p>
                Za posledné týždne sa nám podarilo značne pokročiť s vývojom nášho softvéru a hardvéru pre CanSat ale aj pozemnú stanicu.
                <br><br>
                Hlavné body nášho pokroku:
                <ul>
                    <li>Hotová webová stránka;</li>
                    <li>Takmer hotové prepracovanie vizualizačného softvéru pozemnej stanice z programovacieho jazyka Python na C++;</li>
                    <li>AI na analýzu obrazových dát;</li>
                    <li>Rozpracovaný kód CanSatu;</li>
                    <li>Dokončený 3D model satelitu;</li>
                    <li>Prvá iterácia konštrukcie;</li>
                </ul>
            </p>
        </div>
    </div>
</section>
{% endblock %}
