{% extends '_base.html' %}

{% block content %}
    <section class="content-wrapper">
        <div class="article-container">
            <h2>Kto sme?</h2>
            <div class="article-content">
                <p>Sme CanSat tím tvorený žiakmi SPŠE Zochova 9. Naši čelnovia sú študenti tretieho a druhého ročníka, odborov Umelá inteligencia a Elektrotechnika.
                    <br>Tím je celkovo tvorený šiestimi členmi: 
                    <ul>
                        <li><b>Lukáš Lubušký:</b> POC, tímový líder, hardvérový dizajn, softvér pozemnej stanice, PR</li>
                        <li><b>Adam Minh Nhat Le Van:</b> webová stránka, softvér pre po-letová dátová analýza, PR</li>
                        <li><b>Alex Robert Petrovič:</b> softvér pre po-letovú dátovú analýzu, CanSat softvér, PR</li>
                        <li><b>Maroš Mašurik:</b> elektronický dizajn, rádiová komunikácia, hárdverový dizajn</li>
                        <li><b>Jakub Peško:</b> CanSat softvér</li>
                        <li><b>Matej Kňazovský:</b> hardvérový dizajn, PR</li>
                    </ul>
                    Náš tím kombinuje rôzne odbornosti a zručnosti, ktoré sú nevyhnutné pre úspešnú realizáciu projektu. Každý člen má svoju špecifickú úlohu, no zároveň spolupracujeme na viacerých úlohách a vzájomne si pomáhame. Okrem technických aspektov, ako je vývoj hardvéru a softvéru, sa venujeme aj komunikácii s verejnosťou a prezentácii nášho projektu. Pravidelne sa stretávame, diskutujeme o problémoch a hľadáme najlepšie riešenia. Vďaka tejto spolupráci si nielen rozvíjame odborné znalosti, ale aj sa učíme efektívne pracovať v tíme, čo je neoceniteľná skúsenosť do budúcnosti.
                </p>
                <h3>Čo je súťaž CanSat?</h3>
                <p>
                    CanSat je prestížna slovenská súťaž organizovaná Slovenskou vesmírnou kanceláriou. Prvý ročník súťaže sa uskutočnil v roku 2024. Je to jedinečná príležitosť pre stredoškolskákov, aby si vyskúšali proces návrhu, vývoja a testovania malého satelitu vo formáte plechovky. Súťaž simuluje reálnu vesmírnu misiu v malom meradle, pričom tímy musia vytvoriť funkčné zariadenie, ktoré zvládne merania a prenos dát počas zostupu na Zem. Okrem technických zručností súťažiaci získavajú skúsenosti s tímovou spoluprácou, riadením projektu a riešením problémov v reálnom čase. Pre viac informácií môźe navštíviť oficiálnu stránku Slovenskej vesmírnej kancelárie <a href="https://spaceoffice.sk/cansat/">tu</a>.
                </p>
                <h3>Naša sekundárna misia</h3>
                <p>
                    Naša sekundárna misia sa zameriava na ochranu prírodného prostredia, najmä lesov. Na spodnej časti CanSatu je umiestnená vysokorozlišujúca kamera, ktorá počas letu sníma povrch krajiny. Tieto snímky sa následne cez rádiovú komunikáciu prenesú na pozemnú stanicu, kde ich po pristátí analyzujeme. Cieľom je automaticky identifikovať oblasti pokryté lesom a porovnať ich s odlesnenými plochami. Táto metóda nám umožní sledovať dlhodobé trendy deforestácie a odhadovať škody spôsobené prírodnými katastrofami, ako sú víchrice či povodne.
                    <br><br>
                    Okrem monitorovania lesov má však naša misia široký potenciál aj na ďalšie využitie. V budúcnosti by sme mohli rozšíriť systém spracovania dát o pokročilé metódy umelej inteligencie, čím by sa zvýšila presnosť analýzy zmien v krajine. Podobný prístup by sa dal využiť aj na monitorovanie poľnohospodárskych oblastí, sledovanie mestského rozvoja alebo dokonca na identifikáciu nelegálnych skládok odpadu. Týmto spôsobom by sa náš projekt mohol stať cenným nástrojom nielen pre výskum a ochranu životného prostredia, ale aj pre organizácie zaoberajúce sa ekologickým monitorovaním a udržateľným rozvojom.
                </p>
            </div>
        </div>
    </section>
{% endblock %}
