{% extends '_base.html' %}

{% block content %}
<section class="team-section">
    <div class="container">
        <div class="team-grid">
            <!-- Team  1 -->
            <div class="team-member">
                <img src="{{ url_for('static', filename='images/Lukas.jpg') }}" alt="Team Member 1" class="team-image">
                <h3>Lukáš Lubušký</h3>
                <p class="role">{{ _('Tímový líder, programátor, hardvérový dizajn') if session.get('language', 'sk') == 'sk' else 'Team Leader, Programmer, Hardware Design' }}</p>
                <!-- Spotify Widget -->
                <iframe style="border-radius:12px" src="https://open.spotify.com/embed/track/2RBcYkonAofm0rYycVrCGt?utm_source=generator" width="100%" height="152" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
            </div>

            <!-- Team  2 -->
            <div class="team-member">
                <img src="{{ url_for('static', filename='images/Alex.jpg') }}" alt="Team Member 2" class="team-image">
                <h3>Alex Robert Petrovič</h3>
                <p class="role">{{ _('Programátor') if session.get('language', 'sk') == 'sk' else 'Programmer' }}</p>
                <!-- Spotify Widget -->
                <iframe style="border-radius:12px" src="https://open.spotify.com/embed/track/6gNrRM9QwNYBH8JyNS6rC4?utm_source=generator" width="100%" height="152" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
            </div>

            <!-- Team  3 -->
            <div class="team-member">
                <img src="{{ url_for('static', filename='images/maros.jpg') }}" alt="Team Member 3" class="team-image">
                <h3>Maroš Mašurik</h3>
                <p class="role">{{ _('Rádiová komunikácia, elektronický dizajn') if session.get('language', 'sk') == 'sk' else 'Radio Communication, Electronic Design' }}</p>
                <iframe src="https://open.spotify.com/embed/track/7rSn37L6jGaPnOOLBbEwXX?utm_source=generator" width="100%" height="152" frameborder="0" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
            </div>

            <!-- Team  4 -->
            <div class="team-member">
                <img src="{{ url_for('static', filename='images/kubo.jpg') }}" alt="Team Member 4" class="team-image">
                <h3>Jakub Peško</h3>
                <p class="role">{{ _('Programátor') if session.get('language', 'sk') == 'sk' else 'Programmer' }}</p>
                <iframe style="border-radius:12px" src="https://open.spotify.com/embed/track/6sxQm9Xczp7J50iZNxI3JG?utm_source=generator" width="100%" height="152" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
            </div>

            <!-- Team 5 -->
            <div class="team-member">
                <img src="{{ url_for('static', filename='images/pfp.png') }}" alt="Team Member 5" class="team-image">
                <h3>Adam Minh Nhat Le Van</h3>
                <p class="role">{{ _('Programátor, webová stránka') if session.get('language', 'sk') == 'sk' else 'Programmer, Website' }}</p>
                <iframe style="border-radius:12px" src="https://open.spotify.com/embed/track/5floNyItopWZyB4IzKrJtW?utm_source=generator" width="100%" height="152" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
            </div>

            <!-- Team 6 -->
            <div class="team-member">
                <img src="{{ url_for('static', filename='images/stefan.jpg') }}" alt="Team Member 6" class="team-image">
                <h3>Štefan Hudák</h3>
                <p class="role">{{ _('Programátor, hardvérový dizajn') if session.get('language', 'sk') == 'sk' else 'Programmer, Hardware Design' }}</p>
                <iframe style="border-radius:12px" src="https://open.spotify.com/embed/track/59pGjnMnCcD7UrGrSfME1r?utm_source=generator" width="100%" height="152" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
            </div>
            <!-- Teacher -->
            <div class="team-member"> 
                <img src="{{ url_for('static', filename='images/JK.JPG') }}" alt="Teacher" class="team-image">
                <h3>Jakub Krcho</h3>
                <p class="role">{{ _('Učiteľ') if session.get('language', 'sk') == 'sk' else 'Teacher' }}</p>
                <iframe style="border-radius:12px" src="https://open.spotify.com/embed/track/3cfOd4CMv2snFaKAnMdnvK?utm_source=generator" width="100%" height="152" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
            </div>
        </div>
    </div>
</section>
{% endblock %}
